@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: url(../img/images13.jpg);
    background-size: cover;
} 
.container{
    text-align: center;
    width: 100%;
    background: no-repeat;
} 
.header {
    color: #92f53f;
    font-size: 90px;
    font-family:  'Raleway', sans-serif;
    text-align: center;
}
.open input{
    width: 80%;
    padding: 40px;
    margin:auto;
    margin-top: 76px;
    font-size: 50px;
    border-radius: 20px;
    border: none;
}
.open {
   width: 100%;
   text-align: center;
}
.login2 {
    text-align: center;
    padding: 63px;
}
.login2 button {
    padding: 28px;
    width: 75%;
    color: white;
    font-size: 61px;
    border: none;
    border-radius: 85px;
    cursor: pointer;
    background: blue;
}