@media (min-width: 320px) and (max-width: 765px){

   .container{
      width: 700px;
   }
   .profile{
     text-align: center;
   } 
   .achivement h1 {
      width: 100%;
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      line-height: 34px;
      border: solid black 2px;
      border-radius: 25px;
   }
   .Instname{
       width: 100%;
       word-spacing: 0px;
       line-height: 22px;
       float: left;
   }
   .Instname h1,h2 {
       font-weight: 400;   
       text-align: center;
   }
   .Instname h1,h2 {
      font-size: 58px;
      margin-top: 340px;
   }
   .experiance h1 {
      font-size: 45px;
   }
   .gallery h1 {
      font-size: 50px;
   }
   .capture1 {
      text-align: center;
   }
   .capture1 img {
      width: 100%;
   }
  
   .topmenu h1 {
      font-size: 50px;
      font-weight: 400;
   }
   
   .social img{
      width: 12%;
      margin-left: 27px;
      margin-bottom: 0px;
      border-radius: 7px;
   }
   .social h1 {
      color: white;
      font-size: 35px;
      margin-left: 30px;
      padding-top: 40px;
      font-weight: 400;
      text-align: center;
      padding-bottom: 30px;
   }

   
   .open input{
       width: 90%;
       padding: 12px;
       margin-top: 37px;
       font-size: 26px;
       border-radius: 20px;
       border: none;
   }
   .open {
      width: 100%;
      text-align: center;
   }
   .login2 {
       text-align: center;
       padding: 22px;
   }
   .login2 button {
       padding: 8px;
       width: 86%;
       background: black;
       color: white;
       font-size: 35px;
       border: none;
       border-radius: 40px;
       cursor: pointer;
   }
   .profile img {
       width: 50%;
       border-radius: 218px;
   }
   }
   @media (min-width: 320px) and (max-width: 996px){

      .SeeMore button {
         margin: 10px 0px;
         width: 62%;
         font-size: 35px;
      }
      .SeeMore a {
         text-decoration: none;
         color: white;
         font-size: 45px;
     }
      .login button {
         width: 62%;
         padding: 6px;
         background: black;
         border-radius: 33px;
         border: none;
         font-size: 35px;
     }
     .login button a {
      text-decoration: none;
      color: white;
      font-size: 50px;
     }
     .socialSite button {
      border: none;
      background-color: black;
      color: white;
      font-size: 24px;
      border-radius: 10px;
      float: left;
      margin: 8px 0px;
      width: 100%;
   }
   .socialSite2 button {
      border: none;
      background-color: black;
      color: white;
      font-size: 24px;
      border-radius: 10px;
      float: left;
      margin: 8px 0px;
      width: 100%;
   }
   .socialSite3 button {
      border: none;
      background-color: black;
      color: white;
      font-size: 24px;
      border-radius: 10px;
      float: left;
      margin: 8px 0px;
      width: 100%;
   }
   .profile {
      text-align: center;
      margin-top: 160px;
      background: aqua;
      border-radius: 50px;
   }
   .Instname{
      width: 100%;
      word-spacing: 0px;
      line-height: 22px;
      
   }
   .Instname h2 {
      font-size: 40px;
   }
   .vedio{
      width: 100%;
      height: 70%;
   }
   .loginbox{
      background:white;
      width: 64%;
      padding: 4%;
      margin:auto;
      margin-top: 70px;
      box-shadow:1px 0px 23px 9px black;
      margin-bottom: 56px;
      position: inherit;
   }
   }