@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;  
}


.container{
    width: 1400px;
    margin: 50px 250px;
}

.topmenu h1,h2 {
    background: rgba(255, 255, 255, 0.691);
    overflow: hidden;
    font-size: 25px;
    font-weight: 300;
    display: block;
    color: rgb(17, 17, 105);
    margin-bottom: 30px;
    text-align: center;
}
.topmenu h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}

.Dp h1{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 450;
    text-align: center;   
}
.Dp img{
    border-radius: 540px;
    width: 100%;
}
.Wrapper h1{
    font-size: 35px;
    font-weight: 500;
    text-decoration-color: rgb(36, 36, 109);
    width: 328px;
    text-align: center;
    line-height: 0px;
}
.Instname{
    width: 521px;
    word-spacing: 0px;
    line-height: 22px;
    font-size: 25px;
    float: left;
}
.Instname h1 {
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}
.experiance{
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    line-height: 28px;
    border: solid black 2px;
}
.experiance h1{
    font-weight: 400;
    font-size: 35px;
    
}
.achivement h1{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}
.achivement{
    background: url(./nice.jpg);
    color: white;
    background-repeat: no-repeat;
    margin: 60px 0px;
}
.work{
    color: rgb(93, 4, 4);
}
.gallery h1{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}
.SeeMore a {
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.SeeMore button{
    width: 114px;
    padding: 11px 15px;
    background: black;
    border-radius: 25px;
    border: solid black 1px;
    margin: 10px 634px;
}
.SeeMore  :hover{
    background: white;
    color: black;
    transition: 0.2s;
}


